base_datos/disenio/diseno.mwb.bak
phpapi/public_html/api/app/log
phpapi/vars/config.ini
base_datos/scripts/run_all.sh
react_app/rimeim/.vscode
phpapi/public_html/.vscode
react_app/rimeim/node_modules/
